@import "tailwindcss";

:root {
  --color-primary: #ff602c;
  --color-background: #1d1d1d;
  --color-navbg: rgba(89, 86, 86, 0.29);
  --color-cardbg: rgba(89, 86, 86, 0.4);
  --font-inter: "Inter", sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-background {
  background-color: var(--color-background);
}

.bg-navbg {
  background-color: var(--color-navbg);
}

.bg-cardbg {
  background-color: var(--color-cardbg);
}

.text-primary {
  color: var(--color-primary);
}

.font-inter {
  font-family: var(--font-inter);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1d1d1d;
  height: 100vh;
  overflow: hidden;
}

select {
  appearance: none;
  accent-color: #ff602c;
  background-color: #1d1d1d;
  min-width: 100px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 4px;
}

.items-container {
  max-height: 250px;
  overflow-y: auto;
}

.reports-container {
  max-height: 340px;
  overflow-y: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(89, 86, 86, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 96, 44, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 96, 44, 0.8);
}
